
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    padding-top: 120px;     /* space for navbar */
    padding-bottom: 80px;  /* space for footer */
    min-height: 100vh;
    background: linear-gradient(
        rgba(84, 84, 84, 0.7),
        rgba(39, 39, 39, 0.8)
    ), url('../img/digital-art-style-yoga-illustration.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 1500px;
    width: 95%;
    margin: 0 auto;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 50px;
    background-color: rgb(12, 19, 25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
}

.system-title {
    font-size: 36px;
    color: white;
    font-weight: 600;
}

.buttons-container {
    display: flex;
    gap: 20px;
}

.btn1 {
    background-color: rgb(181, 65, 7);
    border: none;
    border-radius: 20px;
    padding: 10px 22px;
    cursor: pointer;
    transition: 0.2s ease;
}

.btn1 a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.btn1:hover {
    background-color: rgb(12, 19, 25);
}

.otp-box {
    max-width: 400px;
    margin: 140px auto 0;
    padding: 35px 40px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 10px;
}

.otp-title {
    font-family: "Abril Fatface", serif;
    font-size: 30px;
    margin-bottom: 25px;
    color: rgb(12, 19, 25);
}

.input-field {
    margin-bottom: 20px;
    text-align: left;
}

.label {
    font-size: 14px;
    margin-bottom: 6px;
    color: rgb(12, 19, 25);
}

.input {
    width: 100%;
    padding: 14px;
    font-size: 14px;
    border: 1px solid rgb(0, 42, 76);
    outline: none;
}

.btn {
    width: 100%;
    margin-top: 10px;
    padding: 14px;
    border: none;
    background-color: rgb(12, 19, 25);
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s ease;
}

.btn:hover {
    background-color: rgb(181, 65, 7);
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(12, 19, 25);
    padding: 15px 0;
    z-index: 1000;
}

.all {
    text-align: center;
    font-size: 14px;
    color: rgb(150, 150, 150);
}
